.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* можно поменять на 100vh если хочешь по центру экрана */
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #00aaff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
